<p id="notice"><%= notice %></p>


<div class="col-md-8 col-md-offset-2">
	<div class="product-name text-left">
		<h3>
		  <strong>Name:</strong>
		  <%= @product.name %>
		</h3>
	</div>


	<div class="product-description text-left">
		<h3>
		  <strong>Description:</strong>
		  <%= @product.description %>
		</h3>
	</div>
</div>

<p><strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
