<div class="container" id="showprodcontainer">
<p id="notice"><%= notice %></p>


<div class="col-xs-6 col-md-5 showprodthumb">
<%= image_tag(@product.image_url, class: "img-responsive img-zoom", :"data-zoom-image" => @product.image_url) %>
</div>
<div class="thumbdetails col-xs-6 col-md-5">
<h2>
  <strong>Name:</strong>
  <%= @product.name %>
</h2>
  <h3>
  <strong>Description:</strong>
  $ <%= @product.description %>
</h2>
<h4>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product),class: 'btn btn-default', role:'button' %> 
<%= link_to 'Back', products_path, class: 'btn btn-default', role:'button' %>

